body {
    background: linear-gradient(to right, #8e44ad, #c0392b);
}

.bg {
    background-color: #f1f4db;
    border: 3px solid #000;
}

#myCanvas {
    position: relative;

}



.info {

    background: #000;
    padding: 5px;
    color: #fff;

    font-size: 1.5em;
    border-radius: 15px;
}

#result {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#coordinate {
    position: absolute;
    left: 0px;
    bottom: 0px;
}